.button-a {
  background-color: $color-a;
  padding: 1rem 2rem;
  font-size: 11pt;
  color: #fff;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  border-radius: 4px;
  &:hover {
    background-color: darken($color-a, 5%);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.3);
    transform: translateY(-3px);
  }
}

.button-b {
  background-color: $color-b;
  color: #fff;
  font-size: 11pt;

  &:hover {
    background-color: scale-color($color-b, $lightness: -10%);
  }
}
