.header {
  @include shadow();

  position: absolute;
  top: 0;
  left: 0;
  background-color: $color-b;
  width: 100%;
  z-index: 1000;

  .header-logo {
    margin-top: 1rem;
    max-width: 300px;
  }

  &.is-offcanv-above,
  &.is-fixed-top {
    position: absolute;
    top: 0;
    transition: transform .5s ease;
  }

  // add to navigation before scroll to end of header
  &.is-offcanv-above {
    transform: translateX(-$height-header);
  }

  // add to navigation after scroll past end of header
  &.is-fixed-top {
    transform: translateX(0);
  }

}
