.nav-style--a {
  margin-left: 0;

  a {
    height: $height-header;
    line-height: $height-header;
    display: inline-block;
    color: #fff;
    text-shadow: none;
    padding: 0 1.5rem;
    background-color: transparent;
    transition: background-color .25s;

    &:hover {
      background-color: scale-color($color-b, $lightness: -8%);
      text-decoration: none;
    }
  }

  &.current-menu-item a {
    background-color: scale-color($color-b, $lightness: -15%);
    // box-shadow: 0 0 15px rgba(black, 0.1) inset;
  }

  @include mobile {
    min-width: 100%;

    > a {
      width: 100%;
      height: 4rem;
      line-height: 4rem;
    }
  }

  &.nav-cart {

    > a {
      text-indent: 9999em;
      width: 5rem;
      position: relative;

      &:before {
        content: "\f3f8";
        font-family: "Ionicons";
        text-indent: 0;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 18pt;
        display: block;
        color: #fff;
      }
    }
  }
}
