@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic,700italic);

html {
  font-family: "Lato", Helvetica, sans-serif;
}

[class*="heading-"] {
  &.inverse {
    color: #fff;
  }
}

.heading--hero {
  font-size: 36pt;
  line-height: 3rem;
}

.heading--xl {
  font-size: 32pt;
  line-height: 3rem;
}

.heading--lg {
  font-size: 24pt;
  line-height: 2rem;
  color: $color-a;
}

.heading--md {
  font-size: 18pt;
  line-height: 2rem;
}

.heading--sm {
  font-size: 16pt;
  line-height: 1.5rem;
  margin-bottom: .5rem;
}

.heading--xs {
  font-size: 11pt;
  line-height: 1.5rem;
  margin-bottom: .5rem;
  color: $color-c;
}

.smallcap {
  text-transform: uppercase;
  letter-spacing: .2em;
}

.font-thin {
  font-weight: 100;
}

.font-light {
  font-weight: 300;
}

.font-regular {
  font-weight: 400;
}

.font-bold {
  font-weight: 700;
}

.font-black {
  font-weight: 900;
}

.banner- {
  &-hero {
    line-height: 40pt;
    font-size: 32pt;
    font-weight: 100;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    color: #fff;
    @include desktop {
      font-size: 72pt;
      line-height: 80pt;
    }
  }
  &-subhead {
    line-height: 21px;
    font-weight: 100;
    font-size: 30px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.5);
    color: #fff;
  }
}

.display- {
  &-page {
    font-size: 32pt;
    font-weight: 100;
    line-height: 4rem;

    &-subhead {
      line-height: 3rem;
      letter-spacing: 2pt;
      font-size: 9pt;
      color: black;
      @extend .smallcap;
    }
  }

  &-post {
    line-height: 3rem;
    font-size: 21pt;
    font-weight: 400;
  }

  &-sidebar {

  }

  &-subhead {
    font-size: 26pt;
    color: $color-e;
    font-weight: 900;
  }
}

.text- {

  &-warning {

  }

  &-error {

  }
}

.text-inverse {
  color: #fff !important;
}

.text-right {
  text-align: right !important;
}

.text-centered {
  text-align: center !important;
}
