$color-a: #DA2A1D; //Red
$color-b: #068AA7; //Blue
$color-c: #743E5B; //Maroon
$color-d: #E4821F; //Orange
$color-e: #E1554A; //Coral
$color-f: #55DFC3; //Teal

$social-facebook: #3B5998;
$social-twitter:  #50ABF1;
$social-linkedin: #0077B5;


$height-header: 6rem;
