{% extends "base.twig" %}

{% block content %}
<section class="conferences">
  <div class="container" style="width: 80%; margin: 0 auto;">

  <h2 class="heading--xl font-thin text-centered">Hearts Being Healed Conference</h2>

    <div class="measure">

      <div>

        <h3 class="heading--md text-centered"><span class="block">California</span> Chico</h3>

          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

      </div> <!-- / column - chico -->

      <div>

        <h3 class="heading--md text-centered"><span class="block">California</span> Portola</h3>

          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam id dolor id nibh ultricies vehicula ut id elit. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>

      </div> <!-- / column - portola -->

    </div>
  </div>
</section> <!-- / conferences -->

<section class="mission-statement">
  <div class="container">
    <div class="measure">

      <div>

        <img src="http://www.freelargeimages.com/wp-content/uploads/2014/12/Landscape_01.jpg">

      </div>

      <div>

        <h2 class="heading--md">Mission Statement</h2>

          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean lacinia bibendum nulla sed consectetur. Maecenas faucibus mollis interdum.</p>

      </div>

    </div>
  </div>
</section> <!-- / mission statement -->

<section class="blog">
  <div class="container">

    <h2 class="heading--md text-centered">From the Blog</h2>

    <div class="measure">

      <article>

        <h3>This will be the title &raquo; {{post.title}}</h3>

          <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean lacinia bibendum nulla sed consectetur. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

          <p><a href="#" title="Continue reading {{post.title}}">Read More</a></p>

      </article>

      <p><a href="#" title="Go to Blog">Go to Blog</a></p>

    </div>
  </div>
</section> <!-- / blog -->

<section class="mailing-list">
  <div class="container">

  <h2 class="heading--md text-centered">Sign Up for our Mailing List</h2>

    <div class="measure">

      <form>

        <input type="text" value="Email address" />

        <input type="submit" value="Submit" />

      </form>

    </div>
  </div>
</section> <!-- / mailing list -->

<section class="social">
  <div class="container">

    <h2 class="heading--md text-centered">Find Us On</h2>

    <div class="measure">

      <ul>
        <li><a href="#" title="Facebook">Facebook</a></li>
        <li><a href="#" title="Twitter">Twitter</a></li>
        <li><a href="#" title="LinkedIn">LinkedIn</a></li>
      </ul>

    </div>
  </div>
</section> <!-- / social -->
{% endblock %}
