{% extends "base.twig" %}

{% block content %}
<section class="conferences">



</section> <!-- / conferences -->

<section class="mission-statement">



</section> <!-- / mission statement -->

<section class="blog">



</section> <!-- / blog -->

<section class="mailing-list">



</section>

<section class="social">



</section>
{% endblock %}
