{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<div class="measure">
		{% for post in posts %}
			{% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
		{% endfor %}
			<div id="sidebar">
				{{ dynamic_sidebar }}
			</div>
		</div>
	</div>
{% endblock %}
