{% extends "base.twig" %}

{% block content %}
	<div class="container">
		<h1 class="display--page">{{post.title}}</h1>
		<div class="article-body">
			{{post.content}}
		</div>
	</div><!-- /content-wrapper -->
{% endblock %}
