.flex {
  @include flexbox;
  flex-wrap: wrap;

  > * {
    flex: 0 1 auto;
    margin-top: 0;
  }

  .flex-end {
    margin-left: auto;
  }
}

.flex-center {
  align-self: center !important;
  justify-content: center !important;
}

.collapse + * {
  margin-top: 0;
}

section + section {
  margin-top: 6rem;
}

.container {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 1rem;
}

html {
  height: 100%;

  body {
    min-height: 100%;
    position: relative;
    padding-bottom: 385px;
  }

  > footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}

.measure {
  @include flexbox;
  flex-wrap: wrap;

    > * {
      max-width: 100vw;
      flex: 1 1 auto;
    }

  .tablet &, .desktop & {
    flex-wrap: nowrap;
    margin-left: -3rem;

    > * {
      margin-top: 0;
      padding-left: 3rem;
    }

    > *:first-child:nth-last-child(2) ~ *, > *:first-child:nth-last-child(2) {
      max-width: 50%;
    }

    > *:first-child:nth-last-child(3) ~ *, > *:first-child:nth-last-child(3) {
      max-width: 33.333333333%;
    }

    > *:first-child:nth-last-child(4) ~ *, > *:first-child:nth-last-child(4) {
      max-width: 25%;
    }

    > *:first-child:nth-last-child(5) ~ *, > *:first-child:nth-last-child(5) {
      max-width: 20%;
    }

    > *:first-child:nth-last-child(6) ~ *, > *:first-child:nth-last-child(6) {
      max-width: 16.666666667%;
    }

    > *:first-child:nth-last-child(7) ~ *, > *:first-child:nth-last-child(7) {
      max-width: 14.28%;
    }

    > *:first-child:nth-last-child(8) ~ *, > *:first-child:nth-last-child(8) {
      max-width: 12.5%;
    }

    > *:first-child:nth-last-child(9) ~ *, > *:first-child:nth-last-child(9) {
      max-width: 11.11111111%;
    }

    > *:first-child:nth-last-child(10) ~ *, > *:first-child:nth-last-child(10) {
      max-width: 10%;
    }

    > *:first-child:nth-last-child(11) ~ *, > *:first-child:nth-last-child(11) {
      max-width: 09.09090909090909%;
    }

    > *:first-child:nth-last-child(12) ~ *, > *:first-child:nth-last-child(12) {
      max-width: 08.33333333333%;
    }

    > *.col-2-3 {
      min-width: calc(66.66666666666% - 1rem) !important;
    }

    > *.col-3-4 {
      min-width: calc(75% - 1rem) !important;
    }
  }
}
