<article class="col-2-3">

  <h3 class="heading--sm collapse">{{post.title}}</h3>

    <div class="collapse">{{post.content}}</div>

    <p><a href="{{post.permalink}}" title="Continue reading {{post.title}}" class="read-more">Read More</a></p>

</article>
