<article class="col-2-3">

  <h3 class="heading--sm">{{post.title}}</h3>

    {{post.content}}

    <p><a href="{{post.permalink}}" title="Continue reading {{post.title}}">Read More</a></p>

</article>
